<h2>Products:</h2><br>

<% @products.each do |p| %>
    <h2><%= p.name %></h2>
    <div id="body-<%= p.id %>"><%= truncate p.description %></div>
    <button class="js-more" data-id="<%= p.id %>">More Info</button>
  <% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
    $(".js-more").on('click', function() {
        var id = $(this).data("id");
        $.get("/products/" + id + "/description", function(description) {
            $.get("/products/" + id + "/inventory", function(inventory) {
                $("#body-" + id).text(description).append(function() {
                    if (inventory === "true") {
                        return "Available";
                    } else {
                        return "Sold Out";
                    }
                });
            });
        });
    });
});
</script>